.wd-box-body{
    padding:10px;
    margin:20px;
    color: rgb(75, 74, 74);
}
.card-section-line p{
    color : gray;
}

.card{
    margin: 30px;
    width:300px;
    height: 100 px;
}

.card-body.Link{
    text-decoration: none;
}

.no-underline {
    text-decoration: none; 
  }

#coloredBox {
    height: 180px;
    background-color: #1a7f93; /* Default color in case JavaScript doesn't set it */
  }


.card-text{
    font-size: 20px;
    line-height: 1em;

}

.card-attach{
    font-size: 12px;
    line-height: 1em;

}