.wd-courses {
    margin: 10px;
}

.wd-courses nav .breadcrumb-item.active {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 0px;
}


.wd-courses span.red-color {
    color:rgb(212,27,44);
}

.wd-courses .wd-icon {
    color: rgb(212,27,44);
    font-size: 1.8em;
    margin-right: 5px;
}

.w-100-with-margin {
    width: 100%;
    margin: 10px; 
  }

